<div ng-controller="MapController">

  <supersonic-google-maps position="position" smns="smns"></supersonic-google-maps>

  <div class="padding">
    <div class="loading-message" ng-show="isWatchingPosition || isGettingPosition">
      <img src="/icons/loading.svg" height="26" alt=""> Getting position...
    </div>
    <div class="loading-message" ng-hide="isWatchingPosition || isGettingPosition">
      Ready!
    </div>

    <br>

    <table class="geolocation-table">
      <tr>
        <td>Latitude</td>
        <td>{{position.latitude}}</td>
      </tr>
      <tr>
        <td>Longitude</td>
        <td>{{position.longitude}}</td>
      </tr>
      <tr>
        <td>Accuracy</td>
        <td>{{position.accuracy}} m</td>
      </tr>
      <!-- <tr ng-hide="position.altitude == undefined">
        <td>Altitude</td>
        <td>{{position.altitude}} m</td>
      </tr>
      <tr ng-hide="position.altitudeAccuracy == undefined">
        <td>Alt. accuracy</td>
        <td>{{position.altitudeAccuracy}} m</td>
      </tr>
      <tr ng-hide="position.heading == undefined">
        <td>Heading</td>
        <td>{{position.heading}}</td>
      </tr>
      <tr ng-hide="position.speed == undefined">
        <td>Speed</td>
        <td>{{position.speed}} m/s</td>
      </tr> -->
    </table>

    <br>

    <button ng-click="getPosition()" class="button button-block button-positive" ng-disabled="isGettingPosition || isWatchingPosition">
      Get position
    </button>
    <button ng-click="showWebcams()" class="button button-block button-positive" ng-disabled="isGettingPosition || isWatchingPosition">
      Show Webcams
    </button>
    <p>EasyMap webcams provided by <a href="http://www.webcams.travel">webcams.travel</a></p>
  </div>

</div>
