<!-- <div ng-controller="IndexController">
  <super-navbar>
    <super-navbar-title>
      Solskin
    </super-navbar-title>
  </super-navbar> -->

  <!-- <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
  <div ng-hide="showSpinner"> -->
    <!-- <button class="button button-block button-positive" ng-click="getPosition()">Refresh</button>
    <ul class="list" ng-show="position">
      <li class="item">Latitude: {{position.coords.latitude}}</li>
      <li class="item">Longitude: {{position.coords.longitude}}</li>
    </ul> -->

    <div id="map-canvas"/>


  <!-- </div> -->
<!-- </div> -->
