<div ng-controller="ShowController" class="showController">
  <super-navbar>
    <super-navbar-title ng-bind="smn['station'].name">

    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner" class="showContent">

       <i class="icon icon-big" ng-class="smn['icon']"></i>

       <p>temperature: <span ng-bind="smn['temperature']"></span>&deg;</p>

       <p>sunshine in last 10': <span ng-bind="smn['sunshine']"></span>'</p>

       <!-- <p><a href="http://www.lookr.com/map#ll={{smn.station.lat}},{{smn.station.lng}}&spn=0.05,0.05">check nearby webcams</a></p> -->

       <p>distance: <span ng-bind="smn['distance']"></span>km</p>

       <p><a href="https://www.google.ch/maps/dir/{{position.coords.latitude}},{{position.coords.longitude}}/{{smn.station.lat}},{{smn.station.lng}}">get there</a></p>

       <supersonic-google-maps-cam smn="smn"></supersonic-google-maps-cam>

       <!-- <hr>

       <p>code: <span ng-bind="smn['code']"></span></p>

       <p>dateTime: <span ng-bind="smn['dateTime']"></span></p>

       <p>precipitation: <span ng-bind="smn['precipitation']"></span></p>

       <p>windDirection: <span ng-bind="smn['windDirection']"></span></p>

       <p>windSpeed: <span ng-bind="smn['windSpeed']"></span></p>

       <p>qnhPressure: <span ng-bind="smn['qnhPressure']"></span></p>

       <p>gustPeak: <span ng-bind="smn['gustPeak']"></span></p>

       <p>humidity: <span ng-bind="smn['humidity']"></span></p>

       <p>qfePressure: <span ng-bind="smn['qfePressure']"></span></p>

       <p>qffPressure: <span ng-bind="smn['qffPressure']"></span></p> -->

      <!-- <super-modal-show location="smn#edit?id={{ smn.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(smn.id)" class="button button-block button-negative">
        Remove
      </button> -->
    </div>
  </div>
</div>
