.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

.icon-big {
  width: 84%;
  height: 84px;
}

.icon-small {
  width: 40%;
  height: 30px;
}

.super-ios7-sunny-outline {
  color: grey;
  background-color: white;
}

.svg-ios7-cloud-outline {
  background-image: url("/icons/super-ios7-cloud-outline.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

/*********************************
* Sensors / Geolocation
********************************/

.mapcontroller {
  height: 100%;
}
.google-maps-container {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
}

.google-maps-container > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.showController, .padding, .showContent, .showMap {
  height: 100%;
}
.google-maps-container-cam {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #f4f4f4;
  display: block;
}

.google-maps-container-cam > div {
  position: absolute;
  width: 100%;
  height: 100%;
}

.geolocation-table tr td:first-child {
  padding-right: 10px;
  text-align: right;
  border-right: 1px solid #ccc;
  font-weight: bold;
}

.geolocation-table tr td:last-child {
  padding-left: 10px;
}


html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

#map-canvas {
  height: 100%
}
